.nav {
    width: 100%;
    height: 7rem;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
}
.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include media (">=tablet-landscape") {
        justify-content: flex-start;
        max-width: 142rem;
    }
}
.nav__logo {
    margin: auto 0 auto 10px;
}
.nav__icons {
    display: flex;
    justify-content: space-between;
    img {
        width: 2rem;
    }
    @include media (">=tablet") {
        display: none;
    }
}
.nav__icon {
    margin: 0 10px;
    cursor: pointer;
    width: 20px;
}
.nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 7rem;
    right: 0;
    left: 0;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100vh;
    margin: 40px 0 0 0;
    display: none;
}
.nav__link {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--color-grey-light);
    cursor: pointer;
    margin-top: 2.4rem;
}
.nav__search {
    border-bottom: solid 1px var(--color-grey-light);
    padding-bottom: 4px;
    margin-bottom: 20px;
}
.nav__onboard {
    display: none;
}
.nav--active {
    display: block;
}
.nav__onboard--active {
    display: block;
}
.nav__desktop {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin: 0 40px;
    h3 {
        color: white;
        font-size: 1rem;
        font-weight: 200;
        margin: auto;
    }
    img{
        width: 18px;
    }
    @include media ("<=tablet") {
        display: none;
    }
}
